{% extends "base.html" %}

{% block title %}Face Parsing{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/baguetteBox.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery-grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/zebra_tooltips.css') }}">
{% endblock %}
{% block page_content %}
<div class="htmleaf-container">
    <header class="htmleaf-header no-color">
    </header>
    <div class="container gallery-container">

        <h1>Gallery</h1>

        <p class="page-description text-center">Grid Layout With Zoom Effect</p>
        
        <div class="tz-gallery">

            <div class="row">
                {% for image in images %}
                <div class="col-sm-3 col-md-2 "  >
                    <a class="lightbox zebra_tips1" title="{{ scores[image.name] }}" href="{{ image.parsedUrl if image.parsedUrl != "" else image.url}}">
                        <img src="{{ image.thumbnailUrl }}" alt="{{ image.name }}">
                    </a>
                </div>
                {% endfor %}
                <!-- <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/bridge.jpg">
                        <img src="images/bridge.jpg" alt="Bridge">
                    </a>
                </div> -->
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="static/js/baguetteBox.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="static/js/zebra_tooltips.js"></script>
<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
    $(function () { $("[data-toggle='popover']").popover(); });
    new $.Zebra_Tooltips($('.zebra_tips1') , {
        'background_color':'#C40000',
        'color': '#FFF',
        'position': 'top'
    });
</script>
{% endblock %}